<div class="row-fluid">
  <div class="span8">
    <h1>Assignments</h1>
    <ol>
      <% @course.lectures.each do |lecture| %>
        <% lecture.assignments.each do |assignment| %>
          <li><%= link_to assignment.title, course_lecture_assignment_path(@course, lecture, assignment)%> &nbsp;&nbsp;&nbsp; Due: <%= assignment.due.strftime("%B %d, %Y")%></li>
        <% end %>
      <% end %>
    </ol>
  </div>
</div> 
