<div class="row-fluid">
	<div class="span8">
		<h2><%= "Assignment: #{@assignment.title}" %></h2>
		<small>Due: <%= @assignment.due.strftime("%B %e, %Y") %></small>
		<%= markdown(@assignment.content) %>

		<% if admin? %>
			<%= link_to 'Edit', edit_course_lecture_assignment_path(@course, @lecture, @assignment), class: "pull-right" %>
		<% end %>
	</div>
</div> 