<div class="row-fluid">

		<h2>Courses:</h2>
		<% @user.courses.each do |course| %>
			<ul>
				<li>
					<%= link_to "#{course.Call_Number} - #{course.Course_Title}", course, class: 'btn btn-link' %>
				</li>
			</ul>
		<% end %>
	</div>

</div>

